<div id="follow-icons">
	<a href="http://instagram.com/myhongkongzhen" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
	<a href="http://pinterest.com/myhongkongzhen" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a>
	<a href="http://github.com/myhongkongzhen" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="https://www.facebook.com/myhongkongzhen" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="https://twitter.com/#!/Z_ZW" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/myhongkongzhen" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="<%- theme.feed %>" target="_blank"><i class="fa fa-rss-square fa-2x"></i></a>
</div>
<h6><a href="<%- config.root %>about">About</a></h6>