$font-family-headings = "微软雅黑", MingLiU, Georgia, sans // 标题，修改成你期望的字体族
//$font-family-headings = "楷体", MingLiU, Georgia, sans // 标题，修改成你期望的字体族
$font-family-base = "Courier New" , MingLiU// 修改成你期望的字体族
$code-font-family = "Courier New" , MingLiU // 代码字体
$font-size-base = 16px // 正文字体的大小
$code-font-size = 14px // 代码字体的大小
